.brand {
  text-align: center;
  margin-top: 70px;
  padding: 0 20px;
  .title {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  .default-wrapper {
    .subheaders {
      align-items: center;
    }
  }
}

.brand-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    opacity: 0.5;
  }
}

.brand-wrapper{ img:hover {
  opacity: 1;
}}

.brand-story {
  text-align: center;
  max-width: 600px;
}

@media screen and (max-width: 1000px) {
  .brand-wrapper {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    img {
      margin-top: 20px;
    }
  }
    
}

@media screen and (max-width: 400px) {
  .subheaders {
    h1 {
      font-size: 50px;
    }
  }
  
}
