@import "../../utils/globelstyle.scss";

.project-section {
  background: $neutralColor1;
  padding: 70px 20px;
  overflow: hidden;

  // override the default color
  .tagline {
    color: $neutralColor7;
  }
  h1 {
    color: $neutralColor7;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.section-area{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subheaders {
        text-align: center;
        align-items: center;
    }
}

.our-work{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 35px;
  max-width: 1000px;

  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }

  .right-side{
    padding-top: 200px;
  }
}

.view-more {
  margin: 100px;
  .sphereimage{
    width: 300px;
    .center-viewmore{
      position: absolute;
    }
    p {
      font-weight: 700;
    }
  }  
  .arrow {
    width: 29px;
    filter: invert(0);
  }
}

@media screen and (max-width: 1024px) {
  .our-work{
    flex-direction: column;

    .right-side{
      padding-top: 15px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
    .section-area{
        padding: 50px 0;
    }
    .view-more {
      margin: 20px 0;}
}


@media screen and (max-width: 384px) {
  .content {
    justify-content: flex-start;
  }
  .view-more {
    .sphereimage{
      width: 90%;
    }
  }
    
}