@import '../../utils/globelstyle.scss';

.review-section {
  padding: 70px 20px;
  overflow: hidden;
  .tagline {
    color: $neutralColor2;
  }
  h1 {
    color: $neutralColor2;
  }
}

.review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 784px){
    .review-container {
        flex-direction: column;
        align-items: center;
    }
}