@import "../../utils/globelstyle.scss";


//SERVICE CARD
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  gap: 20px;

  h4 {
    font-size: 27px;
    font-weight: 600;
    color: $neutralColor7;
  }

  p {
    max-width: 290px;
    color: $neutralColor7;
  }

  .on-hover {
    display: none;
  }

  // override the default color
  .sphereimage {
    width: 40px;
  }
  .arrow {
    width: 17px;
    filter: invert(1);
  }
}

.service-card:hover {
  .on-hover {
    display: block;
  }
  .outline-img {
    display: none;
  }
  .change-color {
    fill: $neutralColor7;
  }
  .arrow {
    filter: invert(0);
  }
}

.service-image {
  height: 275px;
  img {
    width: 290px;
    object-fit: cover;
    height: 275px;
  }
}


//WORK CARD
.work-card {
  background-color: $neutralColor2;
  border-radius: 10px;
  max-width: max-content;
  border: 1px solid $neutralColor1;
  cursor: pointer;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;}
  img {
    height: 620px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
  }
  .onhover {
    display: none;
    img {
      height: 35px;
      width: 35px;
    }
    .sphereimage{
      width: 60px;
    }    
  }
}

.work-card:hover {
  border: 1px solid $neutralColor1;
  .onhover-image {
    filter: blur(10px);
  -webkit-filter: blur(1px);
  }
  .onhover {
    display: block;
    position: absolute;
    top: 45%;
  }
}

.work-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 27px 20px;
  gap: 5px;

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: $neutralColor7;
  }

  p {
    max-width: 290px;
    color: $neutralColor7;
  }  
}

//REVIEW CARD

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: $neutralColor7;
  max-width: 380px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $neutralColor6;
  }

  p {
    color: $neutralColor4;
    font-size: 20px;
    font-weight: 400;
  }

  .user{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .linebreak {
    width: 100%;
    height: 1px;
    background-color: $neutralColor6;
    border-radius: 100%;
  }
}

//ABOUT US CARD

.about-us-card {
  max-width: 450px;
  text-align: left;
  padding: 15px;
  border: 1px solid $neutralColor2;
  border-top: 1px; 
  border-bottom: 2px solid $neutralColor2;
  border-radius: 10px;

  h2, p {
    color: $neutralColor2
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  p {
    text-align: left;
  }

  &:hover {
    background: $neutralColor2;
    h2, p {
      color: $neutralColor7;
    }
  }
}



//MEDIA QUERIES
@media screen and (max-width: 1024px) {
  .work-card {  
    img {
      height: 620px;
      width: 95vw;
    }}
}

@media screen and (max-width: 900px) {
  .about-us-card {
    max-width: 100%;
  }
}

@media screen and (max-width: 704px) {
  .service-image {
    img {
      width: 244px;
    }
  }   
}
