@import "../../utils/globelstyle.scss";

.nav {
  position: fixed;
  border-bottom: 0.5px solid #d4d4d449;
  display: flex;
  align-items: center;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 99999;
  background: rgba(252, 252, 253, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav-logo {
  width: 110px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar {
  padding: 0 20px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  a {
    text-decoration: none;
    color: $neutralColor4;
    font-weight: 700;
  }
}

.nav-links a:hover {
  color: $neutralColor2;
}

.menu-icon {
  width: 58px;
  height: 58px;
  display: flex;
  border: 1px solid #d4d4d4;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 140px 30px;
  position: fixed;
  top: 0px;
  gap: 50px;
  right: 0;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background: rgba(252, 252, 253, 0.97);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-box-align: center;
  z-index: 999;

  .footer-buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    a {
      font-size: 16px;
    }
  }
  
  a {
    font-size: 30px;
    color: $neutralColor4;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    a {
      display: none;
    }
  }
}