
// COLORS
$primaryColor1: #2377fc;
$primaryColor2: #83bf6e;
$primaryColor3: #ff6a55;
$primaryColor4: #8e59ff;
$secondaryColor1: #ffbc99;
$secondaryColor2: #cabdff;
$secondaryColor3: #b1e5fc;
$secondaryColor4: #b5e4ca;
$secondaryColor5: #ffd88d;
$neutralColor: #fff;
$neutralColor1: #141416;
$neutralColor2: #23262f;
$neutralColor3: #353945;
$neutralColor4: #777e90;
$neutralColor5: #b1b5c3;
$neutralColor6: #e6e8ec;
$neutralColor7: #f4f5f6;
$neutralColor8: #fcfcfd;


.default-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }