@import "../../utils/globelstyle.scss";

.image1 {
  background: url(../../assets/7.png) no-repeat;
  background-size: 100%;
  width: 271px;
  height: 500px;
  margin: 10px;
}

.image2 {
  background: url(../../assets/4.png) no-repeat;
  background-size: 100%;
  width: 271px;
  height: 500px;
  margin: 10px;
}

.image3 {
  background: url(../../assets/23.png) no-repeat;
  background-size: 100%;
  width: 271px;
  height: 500px;
  margin: 10px;
}

.image4 {
  background: url(../../assets/8.png) no-repeat;
  background-size: 100%;
  width: 271px;
  height: 500px;
  margin: 10px;
}

.image5 {
  background: url(../../assets/5.png) no-repeat;
  background-size: 100%;
  width: 271px;
  height: 500px;
  margin: 10px;
}

.whitecover-top {
  width: 100vw;
  z-index: 1;
  position: relative;
}

.whitecover-bottom {
  width: 100vw;
  z-index: 2;
  position: relative;
}

.carousel-container {
  position: relative;
  z-index: -1;
  padding-top: 2px;
}

.overlay {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

.caro {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .carousel-container {
    height: 500px;
  }
  .image1 {
    width: 215px;
    margin: 10px;
    height: 500px;
  }
  .image2 {
    width: 215px;
    margin: 10px;
    height: 500px;
  }
  .image3 {
    width: 215px;
    margin: 10px;
    height: 500px;
  }
  .image4 {
    width: 215px;
    margin: 10px;
    height: 500px;
  }
  .image5 {
    width: 215px;
    margin: 10px;
    height: 500px;
  }
  .whitecover-top {
    top: 9px;
    align-self: stretch;
  }
  .overlay {
    height: 82%;
  }
}

@media screen and (max-width: 380px) {
  .overlay {
    height: 102%;
  }
    .whitecover-top {
    top: 6px;
  }
  .carousel-container {
    height: 300px;
  }
  .image1 {
    width: 180px;
    margin: 6px;
    height: 300px;
  }
  .image2 {
    width: 180px;
    margin: 6px;
    height: 300px;
  }
  .image3 {
    width: 180px;
    margin: 6px;
    height: 300px;
  }
  .image4 {
    width: 180px;
    margin: 6px;
    height: 300px;
  }
  .image5 {
    width: 180px;
    margin: 6px;
    height: 300px;
  }
}
